body {
  font-family: "Georgia", serif;
  background-color: #0f0f0f;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
}

h1, h2, h3 {
  color: #d4af37;
}

a {
  color: #4da6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav {
  margin-bottom: 30px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

img {
  border-radius: 10px;
  border: 2px solid #d4af37;
}


body {
  background:
    linear-gradient(rgba(15,8,4,0.92), rgba(15,8,4,0.92)),
    url("assets/bg.jpg");
  background-size: cover;
}
